@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
    background: #EFEFB8;
    background: linear-gradient(to right, #B2B1DE, #F8C9FF);
    color: #f1521a;
    font-family: rubik;
    margin: 0;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 54px;
    text-shadow: 0 2px #222;
}

p {
    color: #222;
    text-align: center;
    font-size: 18px;
    margin-bottom: 50pt;
}

.loading {
    display: block;
    margin: auto;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    color: #222;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.card::after {
    content: "";
    display: block;
    width: 50%;
    height: 45%;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0.7;
    position: absolute;
    top: 15%;
    left: 25%;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
    position: relative;
    z-index: 2;
}

.card-subtitle {
    margin-top: 5px;
    color: #555;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}

.card-image {
    height: 180px;
    position: relative;
    z-index: 2;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-2 px);
    }
    100% {
        transform: translateY(0);
    }
}

.Bug{       background-color: #94BC4A;}
.Dark{      background-color: #736C75;}
.Dragon{   background-color: #6A7BAF;}
.Electric{   background-color: #E5C531;}
.Fairy{     background-color: #E397D1;}
.Fighting{  background-color: #CB5F48;}
.Fire{      background-color: #EA7A3C;}
.Flying{    background-color: #7DA6DE;}
.Ghost{     background-color: #846AB6;}
.Grass{     background-color: #71C558;}
.Ground{    background-color: #CC9F4F;}
.Ice{       background-color: #70CBD4;}
.Normal{    background-color: #AAB09F;}
.Poison{    background-color: #B468B7;}
.Psychic{   background-color: #E5709B;}
.Rock{      background-color: #B2A061;}
.Steel{     background-color: #89A1B0;}
.Water{     background-color: #539AE2;}